# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Thư mục chứa file môi trường
.env

# Các file IDE
.vscode/
.idea/

# Các file log
*.log

# Các file khác không cần thiết
*.sqlite3
*.db